<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Mate - Chatbot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="../css/stylechatbot.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="main-menu">
                <ul>
                    <li><a class="btn" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Chatbot Interface -->
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card2">
                    <div class="card2-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../images/logoimage.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Mental Mate</span>
                                <p>Ask me anything!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageForm" class="card2-body msg_card_body"></div>
                    <div class="card2-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required />
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const isLoggedIn = localStorage.getItem('isLoggedIn');
    
          if (isLoggedIn !== 'true') {
            // If the user is not logged in, redirect to the login page
            window.location.href = 'nooo.html';
          } else {
            // If the user is logged in, allow access to the page
            console.log('User is logged in');
          }
        });
      </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../js/chatbot.js"></script>
</body>
</html>
