<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Mate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Rammetto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/image 2.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</head>
<body>
  <!--navbar-->
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="../templates/index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="../templates/index.html">Home</a>
                    </li>
                    <li>
                        <a href="#" id="aboutUsLink">About us</a>
                    </li>
                    <li>
                        <a href="../templates/chatbot.html" id="chatbotLink">ChatBot</a>
                    </li>
                    <li>
                      <a class="btn" href="#" id="signInBtnDesktop">
                        <i class="fas fa-user"></i> Sign in
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Hero-->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-heading1 text-xxl">
                    Join Mental Mate:
                </h1>
                <h1 class="hero-heading2 text-xxl">
                    <span>Your virtual friend </span>
                    <span>for mental health</span>
                    <span>support</span>
                </h1>
                <p class="hero-text">
                    Let's navigate this journey together
                </p>
                <a href="#" class="btn btn-primary" id="getStartedBtn">
                  Get Started
              </a>
            </div>
        </div>
    </section> 

    <!--part1-->
    <section>
        <div class="part1 bg-primary">
            <div class="container-sm">
                <h2 class="part1-heading text-sm text-center"> 
                <span>Discover a Trusted Companion for Mental Wellness:  </span>
                <span>Mental Mate, Where Understanding and Support Merge Seamlessly to Offer You a Safe Space for Reflection, Guidance,and 
                Empowerment on Your Journey to Improved Mental Health and Well-Being.</span>
                </h2>
            </div>
        </div>
    </section>  

    <!--part2-->
    <section class="part2">
        <div class="container">
            <div class="image-box">
                <img src="../images/Desktop - 1.png" alt="Desktop image">
            </div>
            <div class="text-box">
                <p>
                <span>Say hello to a</span>
                <span>new era of</span>  
                <span>mental</span> 
                <span>wellness where</span>
                <span>support is just </span>
                <span>a message</span>
                <span>away</span> 
                </p>
            </div>       
        </div>
    </section>

    <!--part11-->
    <section>
        <div class="part11 bg-primary">
            <div class="container-sm">
                <h2 class="part11-heading text-sm text-center">
                    <span>Unlock a happier, healthier you with Mental Mate.</span> 
                     <span>Our platform uses cutting-edge AI to deliver personalized insights and strategies 
                        just for you. Begin your 
                        transformation today and start living your best life with the support of Mental Mate</span>
                </h2>
            </div>
        </div>
    </section>  

    <!--part3-->
    <section class="part3">
        <div class="container">
            <div class="text-container">
                <h3 class="text1 text-md text-center">
                    <span>Ensuring your safety is our foremost concern</span> 
                    <span>at Mental Mate:</span>
                </h3>
                <p class="text2 text-md text-center">
                    <span>Our chatbot conversations are meticulously moderated</span> 
                    <span>through stringent protocols, incorporating multiple layers of</span>
                    <span>rules to guarantee a secure and suitable user experience. Rest</span>  
                    <span>assured, we never disclose your information to third parties, </span>
                    <span>and our chatbot maintains the utmost confidentiality</span> 
                    <span>throughout your sessions</span>
                </p>
                </div>
        </div>
    </section>

    <!--part12-->
    <section>
      <div class="part12 bg-primary">
          <div class="container-sm">
              <h2 class="part12-heading text-sm text-center">
              What Our Users Say
              At Mental Mate, we believe in providing compassionate and accessible mental health support 
              through our innovative chatbot. Our users from around the world, including Morocco, 
              have shared their experiences and how Mental Mate has positively impacted their lives.
              Here are some heartfelt testimonials from our valued users:
              </h2>
          </div>
      </div>
    </section>  
    
    
    <!--Testimonials-->
    <section id="testimonials" class="testimonials bg-dark">
      <div class="container">
        <h3 class="testimonials-heading text-xl">
          Don't just take our word for it, see the success stories from businesses just like yours.
        </h3>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p>
                "Mental Mate has been a lifesaver! Whenever I'm feeling overwhelmed,
                I just chat with the bot, and it helps me calm down and find solutions to my problems.
                Highly recommended!"
              </p>
              <p>Ahmed S.</p>
            </div>
  
            <div class="swiper-slide">
              <p>
                "I was skeptical at first, but the Mental Mate chatbot really understands my feelings and
                provides useful advice. It's like having a therapist available 24/7."
              </p>
              <p>Fatima R.</p>
              
            </div>
  
            <div class="swiper-slide">
              <p>
                "I love how easy it is to talk to the Mental Mate chatbot. It's like having a
                friend who always knows what to say to make me feel better. This service is truly amazing!"
              </p>
              <p>Youssef L.</p>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
  


    <!--part12-->
    <section>
      <div class="part12 bg-primary">
          <div class="container-sm">
              <h2 class="part12-heading text-lg text-center">
                FAQ'S 
              </h2>
          </div>
      </div>
    </section>  

    <!--FAQS-->
    <section class="faq bg-dark">
        <div class="container-sm ">
            <ul class="faq-menu bg-light">
                <li class="active">All</li>
                
                <li><a href="#testimonials" class="tab">Reviews</a></li>
                <li>Pricing</li>
            </ul>

        <div class="faq-content">
            <div class="faq-group">
                <div class="faq-group-header">
                    <h5 class="text-md">
                      What is Mental Mate?
                    </h5>
                    <i class="fas fa-minus"></i>
                </div>
                <div class="faq-group-body open">
                    <p>Mental Mate is an AI-powered platform designed to support mental health. 
                      It provides users with tools and resources to help manage their mental wellness,
                      offering features like mood tracking, AI-driven chat for emotional support, 
                      and personalized mental health insights.
                    </p>
                </div>
        </div>

                <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                        How does Mental Mate work?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Mental Mate works by utilizing artificial intelligence to interact with 
                        users through conversational interfaces. It analyzes user inputs, such 
                        as mood logs and text conversations, to provide personalized feedback,
                         coping strategies, and recommendations. The platform may also use 
                         machine learning algorithms to predict users' mental health needs and 
                         offer timely interventions.
                      </p>
                    </div>
                  </div>
        
                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                       Is Mental Mate a substitute for professional therapy?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        No, Mental Mate is not a substitute for professional therapy. While it
                         can provide support and resources to help manage everyday stress and 
                         emotional challenges, it is not equipped to replace the personalized 
                         care that a licensed therapist can offer. Users with severe mental 
                         health issues or those in crisis are encouraged to seek help from 
                         professional healthcare providers.
                      </p>
                    </div>
                  </div>
        
                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                         Is Mental Mate free to use?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                       The availability of free services on Mental Mate can vary. Some features 
                       might be available for free, such as basic mood tracking and AI chats, 
                       while more advanced features, such as personalized insights or premium 
                       content, may require a subscription or a one-time fee.
                      </p>
                    </div>
                  </div>
        
                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">Is my information confidential on Mental Mate?</h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Yes, user confidentiality is a priority for platforms like Mental Mate. 
                        The platform typically uses encryption and secure data handling practices
                        to protect user information. Privacy policies are in place to ensure that
                        users' data is not shared without consent, and users are usually given 
                        control over what information they share and how it is used.
                      </p>
                    </div>
                  </div>

                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                        Can I access Mental Mate from anywhere?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Yes, Mental Mate is accessible from anywhere with an internet connection.
                        It is designed to be used on various devices, including smartphones, 
                        tablets, and computers, ensuring that users can reach out for support 
                        whenever they need it, regardless of their location.
                      </p>
                    </div>
                  </div>

                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                        What kind of support does Mental Mate offer for crisis situations?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        While Mental Mate provides tools and resources for emotional support and
                         mental wellness, it is not equipped to handle acute crisis situations.
                        For emergencies or severe mental health crises, users are directed to
                         contact local emergency services or a mental health professional.
                          Mental Mate may provide information or contact details for crisis 
                          support services as part of its resources.
                      </p>
                    </div>
                  </div>

                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                        How does Mental Mate ensure the accuracy of its AI responses?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Mental Mate utilizes advanced AI technologies, including natural language processing and 
                        machine learning, to ensure the relevance and accuracy of its responses. The AI is trained 
                        on a diverse set of data and regularly updated to reflect the latest psychological research
                         and evidence-based practices. Additionally, feedback mechanisms are in 
                        place for users to report inaccuracies or issues, which help improve the system continuously.
                      </p>
                    </div>
                  </div>

                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">Can I customize my experience on Mental Mate?</h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Yes, Mental Mate allows users to customize their experience to better suit their individual 
                        needs. This customization can include setting specific goals, choosing preferences for how 
                        often they receive notifications or insights, and selecting topics that they are most 
                        interested in. Customization helps
                        make the advice and support provided by Mental Mate more relevant and personally meaningful.
                      </p>
                    </div>
                  </div>

                  <div class="faq-group">
                    <div class="faq-group-header">
                      <h5 class="text-md">
                        Does Mental Mate provide resources for families and caregivers?
                      </h5>
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                      <p>
                        Yes, Mental Mate recognizes the importance of support networks in mental health care. 
                        The platform offers resources and tools specifically designed for families and caregivers. 
                        These resources may include articles, guided activities, and advice on how to best support 
                        loved ones dealing with mental health challenges. Additionally, there might be features that 
                        allow family members to participate in care plans and receive updates on the user’s progress, 
                        facilitating better communication and understanding within the support network.
                      </p>
                    </div>
                  </div>
        
            </div>
        </div>
    </section>

  
    <!-- Login Modal -->
   <div id="loginModal" class="modal modal-hidden">
     <div class="wrapper">
         <span class="close" onclick="closeModal()">&times;</span>
         <div class="form-box login active">
             <h2>Login</h2>
             <form id="loginForm" >
                 <div class="input-box">
                     <span class="icon"><ion-icon name="mail"></ion-icon></span>
                     <input type="email" id="loginEmail" required autocomplete="email">
                     <label>Email</label>
                 </div>
                 <div class="input-box">
                     <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                     <input type="password" id="loginPassword" required autocomplete="current-password">
                     <label>Password</label>
                 </div>
                 <div class="remember-forgot">
                     <label><input type="checkbox">Remember Me</label>
                     <a href="#">Forgot Password?</a>
                 </div>
                 <button type="submit" class="btnlog">Login</button>
                 <div class="login-register">
                     <p>Don't have an account?<a href="#" class="register-link">Register</a></p>
                 </div>
             </form>
         </div>
         <div class="form-box register">
           <h2>Registration</h2>
           <form id="registerForm">
               <div class="input-box">
                   <span class="icon"><ion-icon name="person"></ion-icon></span>
                   <input type="text" id="registerUsername" required>
                   <label>Username</label>
               </div>
               <div class="input-box">
                   <span class="icon"><ion-icon name="mail"></ion-icon></span>
                   <input type="email" id="registerEmail" required autocomplete="email">
                   <label>Email</label>
               </div>
               <div class="input-box">
                   <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                   <input type="password" id="registerPassword" required autocomplete="new-password">
                   <label>Password</label>
               </div>
               <div class="remember-forgot">
                   <label><input type="checkbox" id="terms" required>Agree to the terms & conditions</label>
               </div>
               <button type="submit" class="btnlog">Register</button>
               <div class="login-register">
                   <p>Already have an account?<a href="#" class="login-link">Login</a></p>
               </div>
           </form>
       </div>    
     </div>
   </div>


<!-- About Us Modal -->
<div id="aboutUsModal" class="modal modal-hidden">
  <div class="wrapper">
      <span class="icon-close" onclick="closeAboutUsModal()">&times;</span>
      <div class="form-box active">
          <h2>About Us</h2>
          <p>Welcome to Mental Mate, your virtual friend for mental health support. 
            Our platform provides personalized insights and strategies to help you on your
            mental wellness journey. We ensure your safety and confidentiality with every
            interaction.</p>
      </div>
  </div>
</div>


    <!--footer-->
    <footer class="footer bg-primary">
        <div class="container">
            <div class="footer-grid">
                <div>
                    <a href="../templates/index.html">
                        <img src="../images/logo.png" alt="logo" />
                    </a>
                    <div class="card">
                        <h6>Subscribe to Newsletter</h6>
                        <p class="text-sm">
                        Stay connected with your well-being — subscribe to receive updates and insights 
                        directly to your inbox
                        </p>
                        <form id="subscriptionForm" action="/subscribe" method="post">
                            <input type="email" id="subscriptionMail" name="email" placeholder="Enter your email" required />
                            <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                        </form>
                    </div>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div>
                    <h6>Company</h6>
                    <ul>
                        <li><a href="#" id="footerAboutUsLink">About us</a></li>
                        <li><a href="#">Our process</a></li>
                        <li><a href="#">Join our team</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Resources</h6>
                    <ul>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Recent Projects</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Contact</h6>
                    <ul>
                        <li><a href="#">MentalMate@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    // Initialize Swiper
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
</body>
</html>
